.wrapper {
  display: flex;
  margin: 0 50px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cardWrapper {
  margin-top: 25px;
  padding: 0;
  width: 350px;
  height: 450px;
  box-shadow: 10px 10px 20px black;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.img {
  width: 50%;
  height: 50%;
}

.hide {
  display: none;
}

.header {
  font-size: 25px;
}

