.btn {
    border: 1px solid darkblue;
    border-radius: 5px;
    background-color: blue;
    color: azure;
    height: 40px;
    width: 100px;
}

.btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0;
}